//--------------------------------------------
//
//  _color
//  色定義
//
//---------------------------------------------
// でんとカラー
color_dento = #00ac8e

// 背景色（白）
color_bg = #fff

// 黒（っぽい）
color_base = #1c3645

// グレー
color_gray = #abb5b3 //もうちょいこい96a2a0
// 薄グレー
color_light_gray = #dde2e1

// アクセント赤
color_accent = #de161c

// GMカラー
color_gm = #b5402d

// その他
color_hoge = #1694de
