//--------------------------------------------
//
//  _color
//  色定義
//
//---------------------------------------------
// でんとカラー
color_dento = #00ac8e

// 黒（っぽい）
color_base = #1c3645

// グレー
color_gray = #abb5b3 //もうちょい薄いほうがよければabb5b3 こい96a2a0
// 薄グレー
color_light_gray = #dde2e1

// アクセント赤
color_accent = #de161c

// その他
color_hoge = #1694de
color_fuga = #b5402d
