//--------------------------------------------
//
//  base
//  基本設定
//
//---------------------------------------------
*, *::before, *::after
  box-sizing border-box

html
  font-size 62.5%

body
  -webkit-text-size-adjust 100%!important
  font normal 500 1.6rem/normal font_family
  color color_base

a
  color color_base
  text-decoration none
  +mq_pc()
    &:hover
      text-decoration underline

button
  cursor pointer
