// 入力欄
.answer
  position fixed
  bottom 0
  left 0
  display flex
  width 100%
  padding 1em
  border-top 1px solid color_gray

  &-input
    flex-grow 10
    padding-left .8em
    border 1px solid color_light_gray

  &-submit
    color #fff
    margin-left 1em
    padding .5em
    background-color color_dento
    &[disabled]
      background-color color_gray
