//--------------------
// 対戦ゲームページ
//--------------------
//- 臨時共通パーツ
.btn-common
  color color_bg
  padding .5em
  background-color color_dento
  +mq_pc()
    transition opacity .2s
    &:hover
      opacity .7
  &[disabled]
    background-color color_gray
    &:hover
      opacity 1

//- 全体
.battle
  padding 0 1em
  padding-bottom calc(75px + 1em)
  margin auto
  max-width 500px
  // 吹き出し対策
  overflow-x hidden

//- 設定エリア
.config
  // 選んでね
  &-term
    font-size 1.8rem
    margin-top 1.5em

  &-list
    margin .5em 0 0 2em

  &-item + .config-item
    margin-top .3em

  // スタートボタン
  &-btn
    @extend .parts-btn
    margin-top 1.5em

//- ラジオボタン
.radio
  cursor pointer
  &-tx
    position relative
    padding-left .7em
    &::before, &::after
      content ""
      position absolute
      left -1em
      top .2em
      width .8em
      height .8em
      border-radius 50%
    &::before
      border 1.5px solid color_dento

  [type="radio"]:checked + .radio-tx::before
      background-color color_dento

//- 入力欄
.answer
  position fixed
  bottom 0
  left 0
  display flex
  width 100%
  padding 1em
  border-top 1px solid color_gray
  background-color color_bg

  &-input
    flex-grow 10
    padding-left .8em
    border 1px solid color_light_gray
    // placeholder
    &::placeholder
      opacity 1
      transition all .2s
    &[disabled]::placeholder
      opacity 0

  // オーライ
  &-submit
    @extend .parts-btn
    margin-left 1em

//- 各解答表示エリア
.answer
  &-list
    margin-top 2em

  // 発言ブロック
  &-item
    display flex
    &+ .answer-item
      margin-top 1em

  // 発言内容
  &-balloon
    position relative
    padding .5em .8em
    background-color color_light_gray
    &::before
      content ""
      position absolute
      top 0
      left -1.4em
      border .7em solid transparent
      border-right 1.4em solid color_light_gray
      transform rotate(30deg)

  // 人間発言の場合
  &-item.isHuman
    .answer-balloon
      margin-left auto
      color color_bg
      background-color color_dento
      &::before
        left auto
        right -1.4em
        transform rotate(150deg)
        border-color transparent color_dento transparent transparent

// GMのメッセージ
.gm-msg
  display flex
  justify-content center
  margin 1em auto
  // 改行対応
  white-space pre-wrap
  &-tx
    font-size 1.4rem
    font-weight bold
    text-align center
    padding .5em .8em
    color color_gm
    border 2px solid color_gm

